.offrediv{

    position: absolute;
    left: 7%;
    top: 11%;
    width: 90%;
   
  
   
    
    }

.jumbotron {
  
        padding: 10px 0 10px 0;
        background-color: white;
        box-shadow: 2px 2px #e9ecef, -2px 0 2px #e9ecef;
        border-radius: 1rem;
        height: 540px;
        display: flex;
       
      }


    .divdata{
     
     display: flex;
     padding: 5px;
     box-shadow: 2px 2px #e9ecef, -2px 0 2px #e9ecef;
     height: 32%;
    
    }  

    .img{
      flex: 2;
      height:100%;
      border-radius: 15px 15px 15px 15px;
      padding: 10px;
      
      
    }

    .cardData{
     
      padding:7px;
      margin: 7px;
     
      
     
      
    }

    
