.title {
  
    margin-top: 5px;
    width: 40%;
    padding: 0 150px;
    margin-left: 30%;
    background-color: #2087fc;
    box-shadow: 3px 3px #0000;
    border-radius: .5rem;
    display: flex;

   
  }

