.favdiv{

    position: absolute;
    left: 10%;
    top: 15%;
    width: 100%;
    display: flex;
    
   
    
    }

    .img2{
      
      
        border-radius: 15px 15px 15px 15px;
        padding: 10px;
        height: 150px;
        width: 150px;
        
      }