.title {
  
    margin-top: 5px;
    width: 45%;
    padding: 10px;
    margin-left: 30%;
    background-color: #2087fc;
    box-shadow: 3px 3px #0000;
    border-radius: .5rem;
    font-size: 25px;
    text-align: center;
    color: whitesmoke;
 
   
  }

